<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>Mi Llavero</ion-title> 
      <ion-buttons right>
        <button ion-button icon-only (click)="logout()">
          <ion-icon name='exit'></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item-sliding *ngFor="let llave of listadoLlaves">
        <ion-item>
              <ion-avatar item-start>
                <img src="{{ llave.esAdministrador ? 'assets/imgs/keys-icon.png' : 'assets/imgs/key-icon.png'}}">
              </ion-avatar>
              <div (click)="irALlaveAdministradorConfiguracion(llave)">
                  <h2>{{ llave.nombreFamiliar }}</h2>     
                  <p>({{llave.esAdministrador ? 'Administrador' : 'Compartida'}})</p>
              </div>

              <ion-fab middle right edge>
                  <button ion-fab color="{{ llave.estado=='ABR' ? 'cerraduraAbierta':'cerraduraCerrada'}}"><ion-icon name="{{ llave.estado=='ABR' ? 'unlock' : 'lock' }}"></ion-icon></button>
                  <ion-fab-list side="left">
                    <button (click)="toogleAperturaWifi(llave)" ion-fab><ion-icon name="wifi"></ion-icon></button>
                    <button *ngIf="isAndroid" (click)="toogleAperturaSms(llave)" ion-fab><ion-icon name="mail"></ion-icon></button>
                    <button *ngIf="isAndroid" (click)="toogleAperturaBluetooth(llave)" ion-fab><ion-icon name="bluetooth"></ion-icon></button>
                    <!--button *ngIf="llave.esAdministrador" ion-fab><ion-icon name="share"></ion-icon></button-->
                  </ion-fab-list>
              </ion-fab>
        </ion-item>

        <ion-item-options side="right">
          <button *ngIf="llave.esAdministrador" (click)="irACompartirLlave(llave)" ion-button color="secondary">
              <ion-icon name="share"></ion-icon>
              Compartir
           </button>
        </ion-item-options>
      </ion-item-sliding>
        </ion-list>
</ion-content>
