<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Mis Cerraduras</ion-title> 
        <ion-buttons right>
          <button ion-button icon-only (click)="logout()">
            <ion-icon name='exit'></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content >
    <ion-card *ngIf="listadoCerraduras.length==0">
        <ion-card-header>
           Bienvenido a Jano!
        </ion-card-header>
        <ion-card-content>
            <b>Aquí podrás configurar tus cerraduras. Primero debes registrarla con el boton +.</b> 
        </ion-card-content>
      </ion-card>
    <ion-list inset>
          <ion-item *ngFor="let cerradura of listadoCerraduras">
                <ion-avatar (click)="irAConfiguracionCerradura(cerradura)" item-start>
                  <img src="assets/imgs/cerradura.png">
                </ion-avatar>
                <h2 (click)="irAConfiguracionCerradura(cerradura)">{{ cerradura.descripcion }}</h2>
                <div>
                    
                </div>
                <div>
                    <button ion-button icon-only outline item-end padding (click)="irAListadoDeCompartidas(cerradura)"><ion-icon name='people'></ion-icon>Llaves</button>
                    <button ion-button icon-only outline item-end padding (click)="irAEventosCerradura(cerradura)"><ion-icon name='albums'></ion-icon>Actividad</button>
                    <button ion-button icon-only outline item-end padding (click)="irAConfiguracionCerradura(cerradura)"><ion-icon name='settings'></ion-icon></button>
                  </div>
          </ion-item>
    </ion-list>
    <ion-fab right bottom>
      <button ion-fab color="danger" (click)="irANuevaCerradura()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
