<ion-header>
    <ion-navbar color="primary">
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    <ion-title>Vinculación de llave bluetooth</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>

      <ion-list-header *ngIf="dispositivosVisibles">
        Elija el dispositivo cerradura Jano a vincular.
      </ion-list-header>
      <ion-list radio-group>
        <ion-item *ngFor='let dispositivo of dispositivosVisibles'>
          <ion-label>{{ dispositivo.name || 'Sin nombre: '+ dispositivo.address  }}</ion-label>
          <ion-radio (click)="setearDispositivo(dispositivo)" checked="esDispositivoAsociado(dispositivo)"></ion-radio>
        </ion-item>
      </ion-list>

      <!--button (click)="enviarComandoApertura()" disabled="puedeEnviarComando?'':'disabled'" ion-fab><ion-icon name="wifi"></ion-icon></button>

      <ion-fab left bottom>
          <button ion-fab color="danger" (click)="disconnect()"><ion-icon name="close-circle"></ion-icon></button>
      </ion-fab-->

      <ion-fab right bottom>
          <button ion-fab color="danger" (click)="startScanning()"><ion-icon name="bluetooth"></ion-icon></button>
      </ion-fab>
      
    </ion-content>

<ion-footer>
    <ion-toolbar>
      <p>{{ statusMessage }}</p>
    </ion-toolbar>
  </ion-footer>