<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Configuracion de la llave {{llave.nombreFamiliar}}</ion-title> 
    </ion-navbar>
</ion-header>
  
<ion-content padding>
    <div padding>
        <ion-item>
            <ion-icon name="key" item-start></ion-icon>
            <ion-label stacked>Nombre asociado a la llave:</ion-label>
            <ion-input name="nombreFamiliar" type="text" value="{{ llave.nombreFamiliar }}"></ion-input>
          </ion-item>

        <ion-list>
                <ion-item *ngIf="esDuenioDeLlave()">
                    <ion-label stacked>Apertura Automática</ion-label>
                    <ion-toggle [(ngModel)]="llave.aperturaAutomatica" ></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Acceso Offline</ion-label>
                    <ion-toggle [(ngModel)]="llave.aperturaOffline"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="puedeVincularBluetooth()">
                    <button ion-button (click)="irAVincularBluetooth()" block outline><ion-icon name="bluetooth"></ion-icon>Vincular Bluetooth</button>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Acceso de tiempo limitado</ion-label>
                    <ion-toggle (click)="resetTiempoLimitado()" [(ngModel)]="tiempoLimitado"></ion-toggle>
                </ion-item>
              <ion-item-group *ngIf="tiempoLimitado">
                <ion-item-divider color="light">Vigencia</ion-item-divider>
                <ion-item>
                    <ion-label stacked>Comienza:</ion-label>
                    <ion-datetime  [(ngModel)]="llave.vigenciaDesde" displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY" min="2018" max="2040-01-01"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Finaliza:</ion-label>
                    <ion-datetime [(ngModel)]="llave.vigenciaHasta"  displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY" min="2018" max="2040-01-01" ></ion-datetime>
                </ion-item>
                  <ion-item-divider color="light">Horarios limitados:</ion-item-divider>
                  <ion-item>
                      <ion-label stacked>Desde:</ion-label>
                      <ion-datetime [(ngModel)]="llave.franjaHorariaDesde" displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>Hasta:</ion-label>
                      <ion-datetime [(ngModel)]="llave.franjaHorariaHasta" displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>
                  </ion-item>
                  <ion-item-divider color="light">Dias limitados:</ion-item-divider>
                        <button ion-button outline (click)="llave.vigenciaDias.domingo  =!llave.vigenciaDias.domingo"  color="{{llave.vigenciaDias.domingo?  'secondary':'dark' }}" [style.text-decoration]="!llave.vigenciaDias.domingo?  'line-through':''">Dom</button>
                        <button ion-button outline (click)="llave.vigenciaDias.lunes    =!llave.vigenciaDias.lunes"    color="{{llave.vigenciaDias.lunes?    'secondary':'dark' }}" [style.text-decoration]="!llave.vigenciaDias.lunes?    'line-through':''">Lun</button>
                        <button ion-button outline (click)="llave.vigenciaDias.martes   =!llave.vigenciaDias.martes"   color="{{llave.vigenciaDias.martes?   'secondary':'dark' }}" [style.text-decoration]="!llave.vigenciaDias.martes?   'line-through':''">Mar</button>
                        <button ion-button outline (click)="llave.vigenciaDias.miercoles=!llave.vigenciaDias.miercoles"color="{{llave.vigenciaDias.miercoles?'secondary':'dark' }}" [style.text-decoration]="!llave.vigenciaDias.miercoles?'line-through':''">Mie</button>
                        <button ion-button outline (click)="llave.vigenciaDias.jueves   =!llave.vigenciaDias.jueves"   color="{{llave.vigenciaDias.jueves?   'secondary':'dark' }}" [style.text-decoration]="!llave.vigenciaDias.jueves?   'line-through':''">Jue</button>
                        <button ion-button outline (click)="llave.vigenciaDias.viernes  =!llave.vigenciaDias.viernes"  color="{{llave.vigenciaDias.viernes?  'secondary':'dark' }}" [style.text-decoration]="!llave.vigenciaDias.viernes?  'line-through':''">Vie</button>
                        <button ion-button outline (click)="llave.vigenciaDias.sabado   =!llave.vigenciaDias.sabado"   color="{{llave.vigenciaDias.sabado?   'secondary':'dark' }}" [style.text-decoration]="!llave.vigenciaDias.sabado?   'line-through':''">Sab</button> 
                  </ion-item-group>
            </ion-list>
            <button ion-button (click)="modificarLlave()" outline block>Guardar cambios</button>
        </div>
        <div padding>
                <button ion-button outline block (click)="eliminarLlave()" color="danger">Eliminar llave</button>
              </div>
    
      
</ion-content>
